* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* HEADER */

header {
  background-color: #286B54;
  padding: 30px;
  text-align: center;
}

/* HEADER */

/* NAV/MENU */

nav {
  background-color: #16171B;
  padding: 25px;
  text-align: center;
}

nav li{
  display: inline;
  padding: 30px;
}

nav a{
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: #286B54;
}

/* NAV/MENU */

/* BODY/MAIN */

body {
  background-color: #286B54;
  color: #fff;
}

main {
  max-width: 1200px;
  margin: auto;
}

main h3 {
  font-size: 25px;
  margin-bottom: 20px;
}

main p {
  font-size: 20px;
  margin-bottom: 15px;
}

table td {
  font-size: 20px;
  text-align: center;
  border: 2px dashed #16171B;
}

table {
  margin-bottom: 15px;
    border: 2px solid #689F38;
}
/* BODY/MAIN */

/* ARTICLE/SECTION/ASIDE */

article {
  float: left;
  width: 55%;
}

article h2 {
  font-size: 35px;
  margin: 35px 0;
  text-align: center;
}

img {
  max-width: 300px;
  border-radius: 10px;
  margin-bottom: 15px;
}

aside {
  float: right;
  width: 35%;
}

aside h3 {
  margin: 35px 0;
}

/* ARTICLE/SECTION/ASIDE */

/* REF */

.ref {
  margin: 30px 0;
}

section ul li a {
  text-decoration: none;
  color: #fff;
}

section ul li a:hover {
  color: #16171B;
}

section ul li {
  list-style: none;
  margin-bottom: 5px;
}

/* REF */

/* FOOTER */ 

footer {
  clear: both;
  text-align: center;
  padding: 30px 0;
  background-color: #16171B;
}

footer a {
  color: #689F38;
  text-decoration: none;
}

footer a:hover {
  color: #4DC18B;
}
