* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* HEADER */

header {
  background-color: #58C3FA;
  padding: 30px;
  text-align: center;
}

/* HEADER */

/* NAV/MENU */

nav {
  background-color: #21546A;
}

nav li{
  display: inline-block;
  padding: 25px;
}

nav a{
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: #58C3FA;
}

/* NAV/MENU */

/* BODY/MAIN */

main {
  max-width: 1200px;
  margin: auto;
}

article {
  float: left;
  width: 55%;
}

img {
  max-width: 300px;
}

section {

}

aside {
  float: right;
  width: 35%;
}

/* BODY/MAIN */

/* FOOTER */ 

footer {
  clear: both;
  text-align: center;
  padding: 30px 0;
}

footer a {
  color: #3466C2;
  text-decoration: none;
}

footer a:hover {
  color: #58C3FA;
}
